body{
    color: #649d66;
   margin:0;
   text-align: center;
   
   font-family: 'Merriweather', serif;

}
h1{
    color:#4cbbb9;
    margin: 50px auto 0 auto;
    font-family: 'Satisfy', cursive;
    font-size: 5.625rem;
    line-height:2;

}
h2{
    color:#4cbbb9;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}
h3{
    color:#4cbbb9;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;

}

.container{
    background-color: #cae8d5;
    position:relative;
    padding:200px;
   

}
a{
    color: #0b8a88;
    font-family:'Montserrat', sans-serif; 
    margin:10px 20px;
    text-decoration: none;

}
a:hover{
    color:#ebfdfd ;
}
.copyright{
    color:#ebfdfd ;
    font-size: 0.75rem;
    padding: 20px 0;
}
.middle-container{
   padding:100px 0;

}
.bottom-container{
 background-color: #13b6b3 ;  
 padding: 50px 0 20px; 

}

.top-img{
    height:5%;
    width:5%;
    position:absolute;
    top:150px;
    right:400px;
}
.bottom-img{
    height:5%;
    width:5%;
    position:absolute;
    left:400px
}
.center-img{
    height:30%;
    width:100%;
    

}
.profile{
    width: 20%;
    
}
.review-person1{
    
    width:30%;
    float: left;
    margin-right: 40px;
}
.review-person2{
    
    width:30%;
    float:right;
    margin-left: 40px;
}
.review-person3{
    
    width:30%;
    float:left;
    margin-right: 40px;
}

.review{
    text-align: left;
    width:50%;
    margin:100px auto  100px auto ;
}   
hr{
    border-style:none;
    border-top:dotted #cae8d5 6px;
    margin:100px auto;
    width:5%;
   
}
.intro{
    width: 30%;
    margin:auto;

}


p{
    line-height:2;
}

.myButton {
	box-shadow: 0px 0px 0px 0px #276873;
	background:linear-gradient(to bottom, #13b6b3 5%, #408c99 100%);
	background-color:#39bff0;
	border-radius:28px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:17px;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #39bff0 100%);
	background-color:#27d5f0;
}
.myButton:active {
	position:relative;
	top:1px;
}
